<form {{action 'save' on='submit'}} role="form">

    {{#if errorMessage}}
        {{alert-message type='danger' message=errorMessage}}
    {{/if}}

    {{form-field id="first-name" label="First Name:" value=firstName}}

    {{form-field id="last-name" label="Last Name:" value=lastName}}

    {{form-field id="email" label="Email:" value=email}}

    {{form-field id="twitter" label="Twitter:" value=twitter}}

    <button class="btn btn-primary" type='submit'>Save</button>
    <button class="btn btn-default" {{action 'cancel'}}>Cancel</button>

</form>