{{link-to 'Friends' 'friends'}}

<ul>
    <li>First Name: {{firstName}}</li>
    <li>Last Name: {{lastName}}</li>
    <li>Email: {{email}}</li>
    <li>Twitter: {{twitter}}</li>
</ul>

{{link-to 'Edit' 'friends.edit' this}}